.container {
    background-color:rgb(241, 245, 179);
    max-width: 100%;
    padding: 0px
}

nav {
    background-color: rgb(226, 238, 238);
}

#navbar {
    float: left;
    background: rgb(240, 255, 246)

}

#image {
    float: left;
}

body {
    height:90%;
    width:90%;
    margin:auto
}
.nav-link:hover {
    background-color: rgb(235, 18, 199);
}

