<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Compliance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <!--CSS Link-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

    <header class="header">
      <h1>Authority To Work Field Verification</h1>
    </header>
    <main>
        <div class="navigation">
            <nav class="navbar navbar-expand-lg navbar-light"> 
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Links
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/visuals">Tableau Visuals</a>
                    <a class="dropdown-item" href="/findings">Data Findings</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/risk_classifier">Scope Risk Classifier</a>
                </li>
                </ul>
            </div>
            </nav>
        </div>

        <section class="posts">
            <article class="post">
                <hr>
                <img src="../static/images/comp_risk_count.png" height=400 width= 60% class="vizualization rounded float-top" 
                alt="work group risk bubble" > 
                <img src="../static/images/word_cloud.png" height=400 width= 35% class="vizualization rounded float-top"> 
                <hr>
            </article>
            <article class="post">
                <h3>Authority To Work </h3>
                <p>During the month of July, a field verification audit on a work site was undertaken to validate 
                    the health of an existing Authority To Work process.</p>
                <p>The audit was successful in completing 380 work front contacts over a 4 week period, covering 
                    16 seperate companies with 19 different disiciplines, such as Industrial Cleaning 
                    (High Pressure Water, Ultra High Jetting, Industrial Vacuuming), Electrical, Mechanical, Rope Access
                    and Condition Monitoring to name a few.</p>
                <p>From the data collected, we were able to use use Machine Learning principals to predict the 
                    Risk Classification from the scope of work description provided - give it a go 
                    <a href="/risk_classifier">here</a>!</p> <hr>
                <h3>Findings</h3>
                (1) The data collated indicates that the Authority To Work process is unhealthy and operating at 57.70% compliance.<br>
                (2) The company representative is time poor and not able to visit all jobs in a timely manner, either delaying a 
                job start or not visiting the job at all. Delayed job starts caused by the company impact the companys budget on the bottom line.<br>
                (3) Contracting Company GLU perform the most High risk work onsite across there three disciplines of Mechanical, 
                Rope Acess & Scaffolding.<br>
                (4) Work performed between the hours of 0800 and 1400 have a 54% chance of not having a Job Front Review completed by the Company Representative. This allows potential unknown hazards or conditions to creep in to the work place unbeknown to the contract workers.
                <hr>
            </article>
            <article class="post">
                <h3>Findings Proposal</h3>
                (1) Review the intent and framework of the Authority To Proceed procedure. <br>
                (2) Perform financial impact analysis to the business caused by delayed job starts due to the availability of the company representative.<br>
                (3) Leverage financial impact analysis to employ dedicated company represent <br><hr>
            </article>
      </section>
    </main>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
</body>

</html>
